nav {
  width: 100%;
  height: 70px;
  background: #222;
  display: flex;
  justify-content: center;
  border-color: #080808;
}

.card {
  /* width: 300px;
  height: 300px;
  background-color: white;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  border: 1px solid #d8d6d6;
  box-shadow: 0px 2px 0px #d8d8d8;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-between; */
  overflow: hidden;
  margin-top: 20px;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-item {
  width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin-top: 50px;

}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}



#acces-product {
  position: fixed;
  background: #f8f9fa;
  right: 0;
  width: 0px;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  border-left: 1px solid #e2e2e2;
  overflow: hidden;
}

.article {
  font-size: 13px;
  list-style: none;
}

.container-article-panier {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px;
}

.payed {
  background: #51a765;
  color: white;
  border: 0px solid #abaaaa;
  padding: 10px;
}

.panier {
  background: #484848;
  padding: 10px;
  border: 0px solid #adadad;
  color: white;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-panier {
  display: flex;
}

.product-panier {
  width: 100%;
  display: flex;
  padding: 10px;
  border-top: 1px solid #bfbfbf;
}

.card-img {
  display: flex;
  background: white;
  height: 250px;
}

.border-img {
  background: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: -10px;
}

.img-product-panier {
  width: 70px
}